@model IEnumerable<surathardwarewebsite.Models.Request>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";

}

<h2 align="center">My Requests</h2>

<table id="example4" class="table table-bordered" style="border-width: thick; background-color:tan">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Request_Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Request_Type)
            </th>
          
            <th>
                @Html.DisplayNameFor(model => model.Request_Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Request_Status)
            </th>
            
        </tr>
    </thead>
   


    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(model => item.Request_Id)
                </td>
                <td>
                    @Html.DisplayFor(model => item.Request_Type)
                </td>
                
                <td>
                    @Html.DisplayFor(model => item.Request_Date)
                </td>
                <td>
                    @Html.DisplayFor(model => item.Request_Status)
                </td>
               

            </tr>
        }
    </tbody>

</table>



